{% extends 'shop/index.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="card custom-card" style="padding: 20em 1em 20em 1em; align-items:center; width:100%;">
    <div class="card-header" style="width:100%; max-width:1000px;">
        <h5 class="card-title">LOGIN USER</h5>
        <div>
            <div id="buttonDiv"></div>
           
        </div>
    </div>
    <div class="card-body">
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/Javascript">
    function handleCredentialResponse(response) {
        window.location.href = `/token/?auth_token=${response?.credential}`
    }
    window.onload = function () {
        google.accounts.id.initialize({
          client_id: "{{ sitedetail.google_client_id }}",
          callback: handleCredentialResponse
        });
        google.accounts.id.renderButton(
          document.getElementById("buttonDiv"),
          { theme: "outline", size: "large" }  // customization attributes
        );
    }
</script>
{% endblock %}